
// mat-card {
//     margin-top: 20px;
// }
#sect1 {  
    height: 2000 px;  
    background-image: url("/assets/images/backgroundimg.jpg");  
    background-size:100% ;  
    background-size: cover;  
}   