

mat-card {
  max-width: 650px;
  margin: 2em auto;
 
  background-image: url("/assets/images/white-arabic.avif");
  border-radius: 20px;
}
#bnrimg
{
  width: 300px;
  height: 700px;
}
// mat-cell
// {
//   width: 300px;
//   height: 600px;
// }
#logincnt
{
  margin: 2px;
  width: 300px;
  height: 600px;
}
#title
{
  text-align: left;
}